<nb-card>
    <nb-card-header>
        <nav class="navigation">
            <a href="#" (click)="back()" class="link back-link" aria-label="Back">
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
        </nav>
    </nb-card-header>

    <nb-card-body>
        <div class="room-layout">
            <!-- <img src="./assets/bhs/BHS3.png" alt="" /> -->

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="175 120 262.63 140.06">
                
            
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 226.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 227.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 228.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 229.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 230.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 231.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 232.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 233.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 234.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 235.png"
                    />
                 
                    <text x="304.93" y="178.89" class="st4" [nbPopover]="card">{{zone[0]?.Name}}</text>
                    <text x="303.193" y="173.89" class="st4" [nbPopover]="card">{{zone[3]?.Name}}</text>
                    <text x="297.193" y="169.89" class="st4" [nbPopover]="card">{{zone[2]?.Name}}</text>
                    <text x="259.93" y="155.89" class="st4" [nbPopover]="card">{{zone[4]?.Name}}</text>
                    <text x="247.93" y="168.89" class="st4" [nbPopover]="card">{{zone[1]?.Name}}</text>
                    <text x="318.193" y="200.89" class="st4" [nbPopover]="card">{{zone[8]?.Name}}</text>
                    <text x="332.193" y="190.89" class="st4" [nbPopover]="card">{{zone[6]?.Name}}</text>
                    <text x="341.93" y="194.89" class="st4" [nbPopover]="card">{{zone[5]?.Name}}</text>
                    <text x="376.93" y="222.89" class="st4" [nbPopover]="card">{{zone[7]?.Name}}</text>
                    <text x="347.193" y="228.89" class="st4" [nbPopover]="card">{{zone[9]?.Name}}</text>                 
                
            </svg>

            <ng-template #card>
                <nb-card class="popover-card">
                    <nb-card-header status="warning">

                    </nb-card-header>
                    <nb-card-body>
                        <!-- <p>Estado: On</p>
                        <p>TiempoOn: 17211</p>
                        <p>TiempoOff: 0</p> -->

                        <nb-card-body>
                            <div class="media">
                                <!-- {{i}} -->
                                <img class="align-self-start mr-3" id="im" src="./assets/img/teams.png" alt="Card " />
                                <div class="media-body">
                                    <h6>Id equipo: Mu1-3</h6>
                                    <label><b>Estado:</b> </label > <P style="position: absolute; top: 80 px; left: 100 px;">On</P>
                                  <label><b>Consumo (KWH):</b> </label> 112
                                    <label><b>TiempoOn:</b> </label> 34
                                    <label><b>TiempoOff:</b> </label> 2
                                    <SPAN>
                                    ¿Cómo funciona?
                                    </SPAN>
                                </div>
                            </div>
                        </nb-card-body>


                    </nb-card-body>
                </nb-card>
            </ng-template>

        </div>
    </nb-card-body>
</nb-card>