<nb-card>
  
  <nb-card-header>
    <nav class="navigation">
      <a href="#" (click)="back()" class="link back-link" aria-label="Back">
        <nb-icon icon="arrow-back"></nb-icon>
      </a>
    </nav>
  </nb-card-header>

    <nb-card-body>
        <div class="room-layout">
            <!-- <img src="./assets/bhs/BHS5.png" alt="" /> -->

            <svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="10 20 262.63 140.06">
                
            
                    <image
                      id="_3D_l_PALMEROLA_BHS_.334_Imagen"
                      data-name="3D l PALMEROLA (BHS).334 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2157.png"
                    />
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.333_Imagen"
                      data-name="3D l PALMEROLA (BHS).333 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2158.png"
                    />
                  
                  <image
                    id="_3D_l_PALMEROLA_BHS_.332_Imagen"
                    data-name="3D l PALMEROLA (BHS).332 Imagen"
                    width="1920"
                    height="1080"
                    transform="translate(0 18.86) scale(0.24)"
                    xlink:href="./assets/svg/Recurso 2159.png"
                  />
                  <!-- <path
                    class="cls-1"
                    d="M71,125.63,110,148.25l.58-.58.62-.34,3.38-2s.08-.55,0-.59l-.63-.29,0-1.25.29-.37L75.36,120.5l-.42.46v1.29l-3.62,2-.43.71Z"
                  /> -->
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.336_Imagen"
                      data-name="3D l PALMEROLA (BHS).336 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2160.png"
                    />
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.335_Imagen"
                      data-name="3D l PALMEROLA (BHS).335 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2161.png"
                    />
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.337_Imagen"
                      data-name="3D l PALMEROLA (BHS).337 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2162.png"
                    />
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.338_Imagen"
                      data-name="3D l PALMEROLA (BHS).338 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2163.png"
                    />
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.339_Imagen"
                      data-name="3D l PALMEROLA (BHS).339 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2164.png"
                    />
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.331_Imagen"
                      data-name="3D l PALMEROLA (BHS).331 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2165.png"
                    />
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.342_Imagen"
                      data-name="3D l PALMEROLA (BHS).342 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2166.png"
                    />
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.343_Imagen"
                      data-name="3D l PALMEROLA (BHS).343 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2167.png"
                    />
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.344_Imagen"
                      data-name="3D l PALMEROLA (BHS).344 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2168.png"
                    />
                  
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.345_Imagen"
                      data-name="3D l PALMEROLA (BHS).345 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2169.png"
                    />
                  
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.346_Imagen"
                      data-name="3D l PALMEROLA (BHS).346 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2170.png"
                    />
                  
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.347_Imagen"
                      data-name="3D l PALMEROLA (BHS).347 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2171.png"
                    />
                  
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.341_Imagen"
                      data-name="3D l PALMEROLA (BHS).341 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2172.png"
                    />
                  
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.340_Imagen"
                      data-name="3D l PALMEROLA (BHS).340 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2173.png"
                    />
                  
                  
                    <image
                      id="_3D_l_PALMEROLA_BHS_.348_Imagen"
                      data-name="3D l PALMEROLA (BHS).348 Imagen"
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2174.png"
                    />
                  
                
             
            </svg>

        </div>
    </nb-card-body>
</nb-card>