<nb-card>
    <nb-card-header>
        <nav class="navigation">
            <a href="#" (click)="back()" class="link back-link" aria-label="Back">
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
        </nav>
    </nb-card-header>
    <nb-card-body>
        <div class="room-layout">
            <!-- <img src="./assets/bhs/BHS1.png" alt="" /> -->

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="60 80 262.63 140.06">
                
            
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 21.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 22.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 23.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 24.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 25.png"
                    />
                  
                    <!-- <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 26.png"
                    /> -->
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 27.png"
                    />
                    <image
                    width="1920"
                    height="1080"
                    transform="translate(0 18.86) scale(0.24)"
                    xlink:href="./assets/svg/Recurso 217.png"
                  /> 
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 28.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 29.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 210.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 211.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 212.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 213.png"
                    />
                 
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 214.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 215.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 216.png"
                    />
                  
                    <!-- <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 217.png"
                    /> -->
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 218.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 219.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 220.png"
                    />
                
                    <text x="134.93" y="168.89" class="st4" triggers="mouseenter:mouseleave" (click)="changeId(1)" [nbPopover]="card" nbPopoverPlacement="left" >{{zone[1]?.Name}}</text>
                    <text x="173.193" y="160.89" class="st4"  triggers="mouseenter:mouseleave" (click)="changeId(2)" [nbPopover]="card" >{{zone[0]?.Name}}</text>
                    <text x="192.193" y="135.89" class="st4" triggers="mouseenter:mouseleave" (click)="changeId(3)" [nbPopover]="card">{{zone[3]?.Name}}</text>
                    <text x="215.93" y="129.89" class="st4" triggers="mouseenter:mouseleave"  [nbPopover]="card">{{zone[9]?.Name}}</text>
                    <text x="168.93" y="130.89" class="st4" [nbPopover]="card">{{zone[6]?.Name}}</text>
                    <text x="136.193" y="150.89" class="st4" [nbPopover]="card" nbPopoverPlacement="left">{{zone[8]?.Name}}</text>
                    <text x="170.193" y="144.89" class="st4" [nbPopover]="card">{{zone[7]?.Name}}</text>
                    <text x="208.93" y="146.89" class="st4" [nbPopover]="card">{{zone[4]?.Name}}</text>
                    <text x="224.93" y="143.89" class="st4" [nbPopover]="card">{{zone[5]?.Name}}</text>
                    <text x="247.193" y="138.89" class="st4" [nbPopover]="card">{{zone[2]?.Name}}</text>
                    <text x="253.193" y="142.89" class="st4" [nbPopover]="card">{{zone[10]?.Name}}</text>
                    <text x="251.193" y="134.89" class="st4" [nbPopover]="card">{{zone[11]?.Name}}</text>
                    <text x="254.93" y="148.89" class="st4" [nbPopover]="card" nbPopoverPlacement="end">{{zone[12]?.Name}}</text>
                    <text x="252.93" y="127.89" class="st4" [nbPopover]="card">{{zone[13]?.Name}}</text>
                
            </svg>

            <!-- <pre>
              {{zone[5]?.Name | json}}
            </pre> -->

            <ng-template #card>
                <nb-card class="popover-card">

                    <div class="media" *ngFor="let option of divice; let i = index">
                        {{i}}
                        <img class="align-self-start mr-3" id="im" src="./assets/img/teams.png" alt="Card " />
                        <div class="media-body">
                            <h6>Id equipo: {{option.DeviceId}}</h6>
                            <p><label><b>Estado:</b> </label> Apagado</p>
                            <p><label><b>Consumo KWH:</b> </label> {{option.Consumo}}</p>
                            <p><label><b>TiempoOn:</b> </label> {{option.TiempoOn}}</p>
                            <p><label><b>TiempoOff:</b> </label> {{option.TiempoOff}}</p>
                        </div>
                    </div>

                    <!-- <div class="media">
                            <img class="align-self-center mr-3" src="./assets/img/teams.png" width="45px" alt="Card " />
                            <div class="media-body">
                                <h6>Id equipo: ID-2</h6> -->
                    <!-- <p>Estado:
                                    <li class="list-group-item list-group-item-success"> On </li>
                                </p>
                                <P>Consumo KWH: 1,5</P>
                                <p>TiempoOn: 252,11</p>
                                <p>TiempoOff: 231,0</p> -->

                    <!-- </div>
                        </div> -->

                    <!-- <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="align-self-center mr-3" src="./assets/img/teams.png" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Id equipo: ID-2</h5>
                                    <p class="card-text" style="width: 6rem;">Consumo KWH: 1,5</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div> -->


                </nb-card>
            </ng-template>

        </div>
    </nb-card-body>
</nb-card>