<nb-card>

    <nb-card-header>
        <nav class="navigation">
            <a href="#" (click)="back()" class="link back-link" aria-label="Back">
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
        </nav>
    </nb-card-header>

    <nb-card-body>
        <div class="room-layout">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="180 140 262.63 140.06">
            
           
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 253.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 254.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 255.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 256.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 257.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 258.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 259.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 260.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 261.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 262.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 263.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 264.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 265.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 266.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 267.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 268.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 269.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 270.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 271.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 272.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 273.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 274.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 275.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 276.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 277.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 278.png"
                />
             
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 279.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 280.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 281.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 282.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 283.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 284.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 285.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 286.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 287.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 288.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 289.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 290.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 291.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 292.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 293.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 294.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 295.png"
                />
              
                <text x="350.93" y="207.89" class="st5" [nbPopover]="card">{{dataBanda6.b1}}</text>
                    <text x="340.193" y="219.89" class="st5" [nbPopover]="card">{{dataBanda6.b2}}</text>
                    <text x="325.193" y="202.89" class="st5" [nbPopover]="card">{{dataBanda6.b3}}</text>
                    <text x="301.93" y="191.89" class="st5" [nbPopover]="card">{{dataBanda6.b4}}</text>
                    <text x="315.93" y="185.89" class="st5" [nbPopover]="card">{{dataBanda6.b5}}</text>
                    <text x="320.193" y="172.89" class="st5" [nbPopover]="card">{{dataBanda6.b6}}</text>
                    <text x="327.193" y="168.89" class="st5" [nbPopover]="card">{{dataBanda6.b7}}</text>
                    <text x="346.93" y="170.89" class="st5" [nbPopover]="card">{{dataBanda6.b8}}</text>
                    <text x="342.93" y="159.89" class="st5" [nbPopover]="card">{{dataBanda6.b9}}</text>
                    <text x="322.193" y="157.89" class="st5" [nbPopover]="card">{{dataBanda6.b10}}</text>
                    <text x="315.193" y="161.89" class="st5" [nbPopover]="card">{{dataBanda6.b11}}</text>
                    <text x="308.93" y="165.99" class="st5" [nbPopover]="card">{{dataBanda6.b12}}</text>
                    <text x="298.93" y="170.89" class="st5" [nbPopover]="card">{{dataBanda6.b13}}</text>
                    <text x="278.93" y="180.89" class="st5" [nbPopover]="card">{{dataBanda6.b14}}</text>
                    <text x="245.93" y="200.89" class="st5" [nbPopover]="card">{{dataBanda6.b15}}</text>
                    <text x="220.193" y="217.89" class="st5" [nbPopover]="card">{{dataBanda6.b16}}</text>
                    <text x="220.193" y="223.89" class="st5" [nbPopover]="card">{{dataBanda6.b17}}</text>
                    <text x="219.93" y="228.89" class="st5" [nbPopover]="card">{{dataBanda6.b18}}</text>
                    <text x="362.93" y="222.89" class="st5" [nbPopover]="card">{{dataBanda6.b19}}</text>
                    <text x="348.193" y="230.89" class="st5" [nbPopover]="card">{{dataBanda6.b20}}</text>
                    <text x="309.193" y="220.89" class="st5" [nbPopover]="card">{{dataBanda6.b21}}</text>
                    <text x="281.93" y="196.89" class="st5" [nbPopover]="card">{{dataBanda6.b22}}</text>
                    <text x="268.93" y="214.89" class="st5" [nbPopover]="card">{{dataBanda6.b23}}</text>
                    <text x="248.193" y="228.89" class="st5" [nbPopover]="card">{{dataBanda6.b24}}</text>
                    <text x="242.193" y="232.89" class="st5" [nbPopover]="card">{{dataBanda6.b25}}</text>
                    <text x="221.93" y="233.89" class="st5" [nbPopover]="card">{{dataBanda6.b26}}</text>
                    <text x="222.93" y="241.89" class="st5" [nbPopover]="card">{{dataBanda6.b27}}</text>
                    <text x="244.93" y="244.89" class="st5" [nbPopover]="card">{{dataBanda6.b28}}</text>
                    <text x="252.193" y="240.89" class="st5" [nbPopover]="card">{{dataBanda6.b29}}</text>
                    <text x="265.93" y="240.89" class="st5" [nbPopover]="card">{{dataBanda6.b30}}</text>
                    <text x="259.93" y="236.89" class="st5" [nbPopover]="card">{{dataBanda6.b31}}</text>
                    <text x="280.93" y="224.89" class="st5" [nbPopover]="card">{{dataBanda6.b32}}</text>
                    <text x="329.93" y="195.89" class="st5" [nbPopover]="card">{{dataBanda6.b33}}</text>
                    <text x="346.93" y="185.89" class="st5" [nbPopover]="card">{{dataBanda6.b34}}</text>
                    <text x="347.93" y="180.89" class="st5" [nbPopover]="card">{{dataBanda6.b35}}</text>
                    <text x="347.93" y="175.89" class="st5" [nbPopover]="card">{{dataBanda6.b36}}</text>
            
           </svg>

            <ng-template #card>
                <nb-card class="popover-card">
                    <nb-card-header status="warning">
                        Clear Line
                    </nb-card-header>
                    <nb-card-body>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </nb-card-body>
                </nb-card>
            </ng-template>

        </div>
    </nb-card-body>
</nb-card>