<nb-card>
    <nb-card-body>
        <div class="room-layout">
            <svg
        id="_3D_l_PALMEROLA_BHS_.321_Imagen"
        data-name="3D l PALMEROLA (BHS).321 Imagen"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 375.84 238.8"
      >
            <image
            id="OSR"
          width="359"
          height="300"
          transform="translate(-649.18 -379.8) scale(2.89)"
          xlink:href="./assets/bhs/BHS6.png"
             />

            </svg>
        </div>
    </nb-card-body>
</nb-card>