<nb-card>
    <nb-card-body>
        <div class="room-layout">
           <svg xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           viewBox="180 140 262.63 140.06">
            
           
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 253.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 254.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 255.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 256.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 257.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 258.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 259.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 260.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 261.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 262.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 263.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 264.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 265.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 266.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 267.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 268.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 269.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 270.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 271.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 272.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 273.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 274.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 275.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 276.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 277.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 278.png"
                />
             
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 279.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 280.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 281.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 282.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 283.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 284.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 285.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 286.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 287.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 288.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 289.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 290.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 291.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 292.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 293.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 294.png"
                />
              
                <image
                  width="1920"
                  height="1080"
                  transform="translate(0 18.86) scale(0.24)"
                  xlink:href="./assets/svg/Recurso 295.png"
                />
              
            
           </svg>
        </div>
    </nb-card-body>
</nb-card>