.timeline-resource-grouping.e-schedule:not(.e-device) .e-agenda-view .e-content-wrap table td:first-child {
    width: 90px;
}

.timeline-resource-grouping.e-schedule .e-agenda-view .e-resource-column {
    width: 100px;
}

.e-schedule .e-appointment-details {
    padding: 0 !important;
}

.template-wrapper {
    background: #1aaa55;
    padding: 10px;
    padding-left: 6px;
    font-size: 14px;
    font-weight: 500;
}