<div class="control-section">
    <!-- <div class="col-lg-12 content-wrapper"> -->
    <ejs-schedule #scheduleObj width='100%' cssClass='timeline-resource-grouping' height='650px' [selectedDate]="selectedDate" [group]="group" [eventSettings]="eventSettings">
        <e-resources>
            <e-resource field='ProjectId' title='Make Up' [dataSource]='car' [allowMultiple]='allowMultiple' name='Projects' textField='text' idField='id' colorField='color'>
            </e-resource>
            <e-resource field='TaskId' title='Airline' [dataSource]='airline' [allowMultiple]='allowMultiple' name='Categories' textField='text' idField='id' groupIDField='groupId' colorField='color'>
            </e-resource>
        </e-resources>
        <e-views>
            <e-view option="TimelineDay" title="Horas"></e-view>
            <e-view option="TimelineWeek"></e-view>
            <e-view option="TimelineWorkWeek"></e-view>
            <e-view option="TimelineMonth"></e-view>
            <e-view option="Agenda"></e-view>
        </e-views>
    </ejs-schedule>
    <div>
        <pre>
                <!-- {{car | json}} -->
                <!-- {{airline | json}}
                {{categoryDataSource | json}} -->
                <!-- {{eventSettings | json}} -->
            </pre>
    </div>
    <!-- </div> -->
</div>