<!-- <h2>Alarmas</h2> -->
<nb-card>
    <nb-tabset>
        <nb-tab tabTitle="Alarmas">
            <nb-card>
                <!-- <nb-card-header>
                    Alarmas
                </nb-card-header> -->

                <nb-card-body>
                    <ng2-smart-table class="example-smart-table" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                    </ng2-smart-table>
                </nb-card-body>
                <nb-card-footer>
                    <button type="submit" nbButton status="primary" *ngIf="!mostrar" [disabled]="select" (click)="reconocer()" class="btn btn-primary">Reconocer alarmas</button>
                    <!-- <button type="submit" nbButton status="info" *ngIf="!mostrar" [disabled]="select">Historico Alarmas</button> -->
                </nb-card-footer>
            </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Historico Alarmas">
            <span>Content #2</span>
        </nb-tab>
    </nb-tabset>
</nb-card>