<!-- <h2>Alarmas</h2> -->
<nb-card>
    <nb-tabset>
        <nb-tab tabTitle="Alarmas">
            <nb-card>
                <nb-card-header>
                    Alarmas
                </nb-card-header>

                <!-- <nb-card-body> -->
                    <!-- <ng2-smart-table class="example-smart-table" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                    </ng2-smart-table> -->

                    <ejs-grid [dataSource]='Alarm' allowPaging='true' allowTextWrap='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [filterSettings]='filterOptions' [allowFiltering]="true" height='400'>
                        <e-columns>
                            <e-column field='Message' headerText='Mensaje' width=200 height=100></e-column>
                            <e-column field='Level' headerText='Nivel' width=85></e-column>
                            <e-column field='UserId' headerText='Usuario' width=100></e-column>
                            <e-column field='TimeStamp' headerText='Fecha' width=90></e-column>
                            <e-column headerText='Acciones' width='60' [commands]='commands' (click)="Delete($event)"></e-column>
                        </e-columns>
                    </ejs-grid>

                <!-- </nb-card-body> -->
                <nb-card-footer>
                    <button type="submit" nbButton status="primary" *ngIf="!mostrar" [disabled]="select" (click)="reconocer()" class="btn btn-primary">Reconocer alarmas</button>
                    <!-- <button type="submit" nbButton status="info" *ngIf="!mostrar" [disabled]="select">Historico Alarmas</button> -->
                </nb-card-footer>
            </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Historico Alarmas">
            <nb-card>
                <nb-card-header>
                    Historico Alarmas
                </nb-card-header>
                <!-- <nb-card-body> -->
                    <ejs-grid [dataSource]='historyAlarmData' [allowPaging]="true" allowTextWrap='true' [pageSettings]='pageSettings' [filterSettings]='filterOptions' [allowFiltering]="true" height='400'>
                        <e-columns>
                            <e-column field='Message' headerText='Mensaje' width=200 height=100></e-column>
                            <e-column field='Level' headerText='Nivel' width=85></e-column>
                            <e-column field='UserId' headerText='Usuario' width=100></e-column>
                            <e-column field='TimeStamp' headerText='Fecha' width=85></e-column>
                            <e-column field='EDT' headerText='Fecha fin' width=100></e-column>
                            <e-column field='UserIdAcknow' headerText='Usuario reco' width=90></e-column>
                        </e-columns>
                    </ejs-grid>
                <!-- </nb-card-body> -->
            </nb-card>
        </nb-tab>
    </nb-tabset>
</nb-card>