<nb-card>

    <nb-card-header>
        <nav class="navigation">
            <a href="#" (click)="back()" class="link back-link" aria-label="Back">
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
        </nav>
    </nb-card-header>

    <nb-card-body>
        <div class="room-layout">
            <!-- <img src="./assets/bhs/BHS7.png" alt="" /> -->

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="208 108 262.63 140.06">
                
             <!---  atr right  -->

             <image
             width="1920"
             height="1080"
             transform="translate(0 18.86) scale(0.24)"
             xlink:href="./assets/svg/Recurso 2149.png"
           />
         
           <image
             width="1920"
             height="1080"
             transform="translate(0 18.86) scale(0.24)"
             xlink:href="./assets/svg/Recurso 2150.png"
           />
         
           <image
             width="1920"
             height="1080"
             transform="translate(0 18.86) scale(0.24)"
             xlink:href="./assets/svg/Recurso 2151.png"
           />
         
           <image
             width="1920"
             height="1080"
             transform="translate(0 18.86) scale(0.24)"
             xlink:href="./assets/svg/Recurso 2152.png"
           />
         
           <image
             width="1920"
             height="1080"
             transform="translate(0 18.86) scale(0.24)"
             xlink:href="./assets/svg/Recurso 2153.png"
           />
         
           <image
             width="1920"
             height="1080"
             transform="translate(0 18.86) scale(0.24)"
             xlink:href="./assets/svg/Recurso 2154.png"
           />

           <image
                      width="1920"
                      height="1080"
                      transform="translate(1.83) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2156.png"
                    />

            <!---  atr left  -->

            <image
            width="1920"
            height="1080"
            transform="translate(0 18.86) scale(0.24)"
            xlink:href="./assets/svg/Recurso 2125.png"
          />
        
          <image
            width="1920"
            height="1080"
            transform="translate(0 18.86) scale(0.24)"
            xlink:href="./assets/svg/Recurso 2126.png"
          />
        
          <image
            width="1920"
            height="1080"
            transform="translate(0 18.86) scale(0.24)"
            xlink:href="./assets/svg/Recurso 2127.png"
          />
        
          <image
            width="1920"
            height="1080"
            transform="translate(0 18.86) scale(0.24)"
            xlink:href="./assets/svg/Recurso 2128.png"
          /> 

          <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2117.png"
                    />

                <!--    -->

                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2119.png"
                    />

                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2155.png"
                    />

                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 296.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 297.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 298.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 299.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2100.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2101.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2102.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2103.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2104.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2105.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2106.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2107.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2108.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 2109.png"
                    />
                
                    <text x="270.93" y="150.89" class="st4" [nbPopover]="card">{{zone[8]?.Name}}</text>
                    <text x="287.193" y="146.89" class="st4" [nbPopover]="card">{{zone[9]?.Name}}</text>
                    <text x="294.193" y="140.89" class="st4" [nbPopover]="card">{{zone[13]?.Name}}</text>
                    <text x="293.93" y="155.89" class="st4" [nbPopover]="card">{{zone[11]?.Name}}</text>
                    <text x="305.93" y="147.89" class="st4" [nbPopover]="card">{{zone[10]?.Name}}</text>
                    <text x="330.193" y="160.89" class="st4" [nbPopover]="card">{{zone[12]?.Name}}</text>
                    <text x="273.193" y="130.89" class="st4" [nbPopover]="card">{{zone[1]?.Name}}</text>
                    <text x="287.93" y="127.89" class="st4" [nbPopover]="card">{{zone[2]?.Name}}</text>
                    <text x="296.93" y="120.89" class="st4" [nbPopover]="card">{{zone[0]?.Name}}</text>
                    <text x="296.193" y="135.89" class="st4" [nbPopover]="card">{{zone[3]?.Name}}</text>
                    <text x="308.193" y="127.89" class="st4" [nbPopover]="card">{{zone[7]?.Name}}</text>
                    <text x="315.93" y="130.99" class="st4" [nbPopover]="card">{{zone[4]?.Name}}</text>
                    <text x="306.93" y="139.89" class="st4" [nbPopover]="card">{{zone[5]?.Name}}</text>
                    <text x="340.93" y="145.89" class="st4" [nbPopover]="card">{{zone[6]?.Name}}</text>
                    <text x="343.93" y="169.89" class="st4" [nbPopover]="card">{{zons[8]?.Name}}</text>
                    <text x="366.193" y="184.89" class="st4" [nbPopover]="card">{{zons[9]?.Name}}</text>
                    <text x="380.193" y="196.89" class="st4" [nbPopover]="card">{{zons[7]?.Name}}</text>
                    <text x="359.93" y="200.89" class="st4" [nbPopover]="card">{{zons[10]?.Name}}</text>
                    <text x="352.93" y="204.89" class="st4" [nbPopover]="card">{{zons[11]?.Name}}</text>
                    <text x="345.193" y="210.89" class="st4" [nbPopover]="card">{{zons[6]?.Name}}</text>
                    <text x="358.193" y="157.89" class="st4" [nbPopover]="card">{{zons[0]?.Name}}</text>
                    <text x="383.93" y="174.89" class="st4" [nbPopover]="card">{{zons[1]?.Name}}</text>
                    <text x="409.93" y="194.89" class="st4" [nbPopover]="card">{{zons[4]?.Name}}</text>
                    <text x="405.193" y="200.89" class="st4" [nbPopover]="card">{{zons[2]?.Name}}</text>
                    <text x="399.193" y="205.89" class="st4" [nbPopover]="card">{{zons[3]?.Name}}</text>
                    <text x="390.93" y="210.89" class="st4" [nbPopover]="card">{{zons[5]?.Name}}</text>
                
            </svg>

            <ng-template #card1>
                <nb-card class="popover-card">
                    <nb-card-header status="warning">

                    </nb-card-header>
                    <nb-card-body>
                        <p>Estado: On</p>
                        <p>TiempoOn: 17211</p>
                        <p>TiempoOff: 0</p>
                    </nb-card-body>
                </nb-card>
            </ng-template>

            <ng-template #card>
                <nb-card class="popover-card">

                    <nb-card-body>
                        <div class="media">
                            <img class="align-self-center mr-3" src="./assets/img/teams.png" width="45px" alt="Card " />
                            <div class="media-body">
                                <h6>Id equipo: ID-2</h6>
                                <p>Estado: Off
                                    <nb-icon icon="star" class="control-item" icon="alert-triangle-outline" status="danger"></nb-icon>
                                </p>
                                <P>Consumo KWH: 1,5</P>
                                <p>TiempoOn: 252,11</p>
                                <p>TiempoOff: 231,0</p>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </ng-template>


        </div>
    </nb-card-body>
</nb-card>