<nb-card>

    <nb-card-header>
        <nav class="navigation">
            <a href="#" (click)="back()" class="link back-link" aria-label="Back">
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
            <h5 class="h">Alarm Line</h5>
        </nav>
    </nb-card-header>

    <nb-card-body>
        <div class="room-layout">
            <!-- <img src="./assets/bhs/BHS4.png" alt="" /> -->

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="85 140 302.63 156.06">
                
            
                    <image
                    width="1920"
                    height="1080"
                    transform="translate(0 18.86) scale(0.24)"
                    xlink:href="./assets/svg/Recurso 26.png"
                    [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                />

                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 236.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 237.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 238.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 239.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 240.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 241.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 242.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 243.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                 
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 244.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 245.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 246.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 247.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 248.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 249.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 250.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 251.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 252.png"
                      [ngStyle]="{'filter': 'drop-shadow(5px 5px 5px ' + states[1]?.Color  + ')
                      drop-shadow(-5px -5px 5px ' + states[1]?.Color   + ')'}"
                    />

                    <!-- <text x="343.93" y="211.89" class="st4"  (click)="changeId(1)"  [nbPopover]="card" nbPopoverTrigger="click">{{dataBanda4.b1}}</text> -->
                    <text x="343.93" y="211.89" class="st4"   [nbPopover]="card" (click)="changeId(zone[7]?.idEquipo)" nbPopoverTrigger="click">{{zone[7]?.Name}}</text>
                    <text x="335.193" y="216.89" class="st4"  [nbPopover]="card" (click)="changeId(zone[9]?.idEquipo)" counterclockwise="click" >{{zone[9]?.Name}}</text>
                    <text x="319.193" y="226.89" class="st4"  [nbPopover]="card" (click)="changeId(zone[0]?.idEquipo)" nbPopoverTrigger="click">{{zone[0]?.Name}}</text>
                    <text x="296.93" y="254.89" class="st4"  [nbPopover]="card" (click)="changeId(zone[4]?.idEquipo)" nbPopoverAdjustment="counterclockwise">{{zone[4]?.Name}}</text>
                    <text x="262.93" y="264.89" class="st4"  [nbPopover]="card" (click)="changeId(zone[3]?.idEquipo)" >{{zone[3]?.Name}}</text>
                    <text x="240.193" y="254.89" class="st4" [nbPopover]="card" (click)="changeId(zone[1]?.idEquipo)" >{{zone[1]?.Name}}</text>
                    <text x="201.193" y="234.89" class="st4" [nbPopover]="card" (click)="changeId(zone[2]?.idEquipo)" >{{zone[2]?.Name}}</text>
                    <text x="160.93" y="211.89" class="st4" [nbPopover]="card" (click)="changeId(zone[5]?.idEquipo)" >{{zone[5]?.Name}}</text>
                    <text x="132.93" y="194.89" class="st4" [nbPopover]="card"  >{{zone[10]?.Name}}</text>
                    <text x="117.193" y="190.89" class="st4" [nbPopover]="card" (click)="changeId(zone[8]?.idEquipo)" >{{zone[8]?.Name}}</text>
                    <text x="97.193" y="173.89" class="st4" [nbPopover]="card" (click)="changeId(zone[6]?.idEquipo)" >{{zone[6]?.Name}}</text>
                    <!-- <text x="96.193" y="172.89" class="st4" [nbPopover]="card">{{dataBanda4.b12}}</text> -->
                    <text x="375.93" y="207.89" class="st4" [nbPopover]="card" (click)="changeId(zone[12]?.idEquipo)" >{{zone[12]?.Name}}</text>
                    <text x="369.93" y="224.89" class="st4" [nbPopover]="card" (click)="changeId(zone[11]?.idEquipo)" >{{zone[11]?.Name}}</text>
                    <text x="356.93" y="233.89" class="st4" [nbPopover]="card" (click)="changeId(zone[13]?.idEquipo)" >{{zone[13]?.Name}}</text>
                    <text x="335.93" y="231.89" class="st4" [nbPopover]="card" (click)="changeId(zone[14]?.idEquipo)" >{{zone[14]?.Name}}</text>
                
            </svg>

            <ng-template #card>
                <nb-card class="popover-card">
                    <nb-card-body>
                        <div class="media" *ngFor="let option of divice; let i = index">
                            <!-- {{i}} -->
                            <img class="align-self-start mr-3" id="im" src="./assets/img/teams.png" alt="Card " />
                            <div class="media-body">
                                <h6>Id equipo: {{option.DeviceId}}</h6>
                                <b>Estado:</b>
                                <p>{{option.Estado}}</p>
                                <b>Consumo (KWH):</b>
                                <p>{{option.Consumo}} </p>
                                <b>TiempoOn:</b>
                                <p>{{option.TiempoOn}} </p>
                                <b>TiempoOff:</b>
                                <p>{{option.TiempoOff}} </p>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </ng-template>

        </div>
    </nb-card-body>
</nb-card>