<nb-card>

    <nb-card-header>
        <nav class="navigation">
            <a href="#" (click)="back()" class="link back-link" aria-label="Back">
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
        </nav>
    </nb-card-header>

    <nb-card-body>
        <div class="room-layout">
            <!-- <img src="./assets/bhs/BHS4.png" alt="" /> -->

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="85 140 302.63 156.06">
                
            
                    <image
                    width="1920"
                    height="1080"
                    transform="translate(0 18.86) scale(0.24)"
                    xlink:href="./assets/svg/Recurso 26.png"
                />

                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 236.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 237.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 238.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 239.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 240.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 241.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 242.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 243.png"
                    />
                 
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 244.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 245.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 246.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 247.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 248.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 249.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 250.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 251.png"
                    />
                  
                    <image
                      width="1920"
                      height="1080"
                      transform="translate(0 18.86) scale(0.24)"
                      xlink:href="./assets/svg/Recurso 252.png"
                    />
                
                    <text x="343.93" y="211.89" class="st5" [nbPopover]="card">{{dataBanda4.b1}}</text>
                    <text x="335.193" y="216.89" class="st5" [nbPopover]="card">{{dataBanda4.b2}}</text>
                    <text x="319.193" y="226.89" class="st5" [nbPopover]="card">{{dataBanda4.b3}}</text>
                    <text x="296.93" y="254.89" class="st5" [nbPopover]="card">{{dataBanda4.b4}}</text>
                    <text x="262.93" y="264.89" class="st5" [nbPopover]="card">{{dataBanda4.b5}}</text>
                    <text x="240.193" y="254.89" class="st5" [nbPopover]="card">{{dataBanda4.b6}}</text>
                    <text x="201.193" y="234.89" class="st5" [nbPopover]="card">{{dataBanda4.b7}}</text>
                    <text x="160.93" y="211.89" class="st5" [nbPopover]="card">{{dataBanda4.b8}}</text>
                    <text x="132.93" y="194.89" class="st5" [nbPopover]="card">{{dataBanda4.b9}}</text>
                    <text x="117.193" y="190.89" class="st5" [nbPopover]="card">{{dataBanda4.b10}}</text>
                    <text x="97.193" y="183.89" class="st5" [nbPopover]="card">{{dataBanda4.b11}}</text>
                    <text x="96.193" y="172.89" class="st5" [nbPopover]="card">{{dataBanda4.b12}}</text>
                    <text x="375.93" y="207.89" class="st5" [nbPopover]="card">{{dataBanda4.b13}}</text>
                    <text x="369.93" y="224.89" class="st5" [nbPopover]="card">{{dataBanda4.b14}}</text>
                    <text x="356.93" y="233.89" class="st5" [nbPopover]="card">{{dataBanda4.b15}}</text>
                    <text x="335.93" y="231.89" class="st5" [nbPopover]="card">{{dataBanda4.b16}}</text>
                
            </svg>

            <ng-template #card>
              <nb-card class="popover-card">
                  <nb-card-header status="warning">
                      
                  </nb-card-header>
                  <nb-card-body>
                    <p>Estado: On</p>
                    <p>TiempoOn: 17211</p>
                    <p>TiempoOff: 0</p>
                  </nb-card-body>
              </nb-card>
          </ng-template>

        </div>
    </nb-card-body>
</nb-card>